<%- include('layout'); %>
<body>

<p>Generated word(s):
<div id="randomWords"></div>
</p>
<p>
    <input type="number" id="quantity" value="1" min="1" max="1000">
</p>
<div id="exports" hidden>
    <button id="txt">Text file(txt)</button>
    <button id="xlsx">Excel(xlsx)</button>
</div>
<br>
<button id="generate">Generate</button>

</body>