<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>random-georgian-words</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/lib/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <script src="javascripts/lib/jquery-3.2.1.min.js"></script>
    <script src="javascripts/lib/bootstrap.min.js"></script>
    <script src="javascripts/lib/clipboard.min.js"></script>
    <script src="javascripts/script.js"></script>
</head>