<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>random-georgian-words</title>
    <script src="javascripts/jquery-3.2.1.js"></script>
    <script src="javascripts/script.js"></script>
</head>