<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>random-georgian-words</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/lib/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>